{% for curso in site.data.horarios.cursos %}
	{% for turma in curso.turmas %}
		{% if turma.id == include.turma_id %}
			<div class="table-wrapper">
				<table class="alt">
					<thead>
						<tr class="reverse-green">
							{% for coluna in turma.colunas %}
								{% if coluna == "Hora" %}
									<th style="width:10%;">Hora</th>
								{% else %}
									<th>{{ coluna }}</th>
								{% endif %}
							{% endfor %}
						</tr>
					</thead>
					<tbody>
						{% for linha in turma.linhas %}
							{% if linha.aulas[0].disciplina == "ALMOÇO"
								or linha.aulas[0].disciplina == "JANTAR" %}
								<tr class="reverse-black">
									<td class="hora"><b style="color:white;">{{ linha.horario }}</b></td>
									<td colspan="5"><b style="color:white;">{{ linha.aulas[0].disciplina }}</b></td>
								</tr>
							{% else %}{% if linha.aulas[0].disciplina == "INTERVALO" %}
								<tr class="reverse-gray">
									<td class="hora">{{ linha.horario }}</td>
									<td colspan="5">{{ linha.aulas[0].disciplina }}</td>
								</tr>
							{% else %}
								<tr>
									<td class="hora"><b>{{ linha.horario }}</b></td>
									{% for aula in linha.aulas %}
										<td class="atividade">
											{% if aula.professor != "" %}
												{{ aula.professor }}<br/>-<br/>
											{% endif %}
											{{ aula.disciplina }}
										</td>
									{% endfor %}
								</tr>
							{% endif %}{% endif %}
						{% endfor %}
					</tbody>
				</table>
			</div>
		{% endif %}
	{% endfor %}
{% endfor %}

