---
layout: default
---

<div id="home">
  {% for professor in site.data.horarios.professores %}
    {% if professor.nome == page.title %}
      <h1>{{ professor.nome }}</h1>

      <table>
        <tr class="reverse-green">
          {% for coluna in professor.colunas %}
            <th>{{ coluna }}</th>
          {% endfor %}
        </tr>
        {% for linha in professor.linhas %}
          {% if linha.aulas[0].disciplina == "ALMOÇO"
            or linha.aulas[0].disciplina == "JANTAR" %}
            <tr class="reverse-black">
              <td><b>{{ linha.horario }}</b></td>

              <td colspan="5"><b>{{ linha.aulas[0].disciplina }}</b></td>
            </tr>
          {% else %}{% if linha.aulas[0].disciplina == "INTERVALO" %}
            <tr class="reverse-gray">
              <td><b>{{ linha.horario }}</b></td>

              <td colspan="5"><b>{{ linha.aulas[0].disciplina }}</b></td>
            </tr>
          {% else %}
            <tr>
              <td><b>{{ linha.horario }}</b></td>
              
              {% for aula in linha.aulas %}
                <td style="width: 145px;">
                  <div class="disciplina">{{ aula.disciplina }}</div>
                  <div class="professor">{{ aula.turma }}</div>
                </td>
              {% endfor %}
            </tr>
          {% endif %}{% endif %}
        {% endfor %}
      </table>
    {% endif %}
  {% endfor %}
</div>
